---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import ContentLayout from "@/layouts/ContentLayout.astro";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
dayjs.extend(relativeTime);

import Abstract2 from "@/assets/images/abstract-2.jpg";
import { slug } from "@/utils";
import { render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("notion");
  return projects.map((project) => {
    return {
      params: { slug: slug(project.data.properties.Name) },
      props: { project },
    };
  });
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<ContentLayout title={project.data.properties.Name}>
  <header class="mb-3xl">
    <div class="relative bg-yellow-200">
      <Picture
        src={Abstract2}
        alt="A description of my image."
        class="w-full"
        loading="eager"
      />
      <div
        class="absolute left-md right-md bottom-md z-20 dark:bg-shark-950/50 bg-ivory/50 backdrop-blur-md px-md"
      >
        <h1 class="text-5xl xl:text-7xl font-normal mb-xl">
          {project.data.properties.Name}
        </h1>
        <p>
          {project.data.properties.Author}
        </p>
        <p>
          {dayjs(project.data.properties.Date.last_edited_time).fromNow()} on {
            dayjs(project.data.properties.Date.last_edited_time).format(
              "MMM D, YYYY",
            )
          }
        </p>
      </div>
    </div>
  </header>
  <section>
    <Content />
  </section>
</ContentLayout>
